body{
margin:0;
font-family:Arial;
background:#f3f3f3;
}

.header{
background:#131921;
color:white;
display:flex;
justify-content:space-between;
align-items:center;
padding:10px 20px;
}

.logo span{
color:orange;
}

.search input{
padding:8px;
width:300px;
}

.search button{
padding:8px;
background:orange;
border:none;
}

.header-right{
display:flex;
gap:20px;
}

.navbar{
background:#232f3d;
color:white;
padding:10px;
}

.navbar ul{
display:flex;
gap:20px;
list-style:none;
margin:0;
padding:0;
}

.banner img{
width:100%;
height:300px;
object-fit:cover;
}

.section-title{
margin:20px;
}

.products{
display:flex;
flex-wrap:wrap;
justify-content:center;
}

.product{
background:white;
width:200px;
margin:15px;
padding:10px;
border-radius:5px;
text-align:center;
box-shadow:0 0 5px rgba(0,0,0,0.2);
}

.product img{
width:100%;
height:150px;
object-fit:cover;
cursor:pointer;
}

.product button{
background:#ffd814;
border:none;
padding:8px;
margin-top:10px;
cursor:pointer;
}

.product button:hover{
background:#f7ca00;
}

.footer{
background:#232f3d;
color:white;
margin-top:40px;
}

.footer-top{
background:#37475a;
text-align:center;
padding:10px;
cursor:pointer;
}

.footer-links{
display:flex;
justify-content:space-around;
padding:20px;
}

.footer-bottom{
text-align:center;
padding:10px;
background:#131a22;
}